body {
	background: #000;
}

.textColor  {
    color:#aeb130;
    font-weight:bold;
    font-size: 1.5em;
}

.bgColor{
    background:#525463;
}

.antwortInp, .questionIn, .questionKIn {
	width:400px;
}

.upDownArrow:hover {
	color:blue;
	cursor:pointer;
}

.markOnHover:hover{
	color:blue;
	cursor:pointer;
}

.markOnHover{
	color:gray;
}

.noIntro {
	display:none;
}

.footer {
	background:#aeb130;
	color:rgb(100, 100, 100);
}

.mainHeight {
	height: 530px;
}

#answers {
	font-family: monospace; 
	padding-top: 55px; 
	padding-left: 18px; 
	font-size: 1.5em;
}

#displayQuestions {
	position:absolute; 
	top:15px; 
	left:15px;
}

.intro {
	position: absolute;
	top: 30px;
	overflow: hidden;
	background: #000;
	width: 150%;
	margin-top: calc(50% - 530px);
}

.intro img, #frame img {
	border-radius: 40px;
}

#frame {
	position: absolute;
	top: -19px;
	left: -28px;
	z-index: 1000;
}

.controller {
	background: #fff;
}

#allContent {
	position: relative;
	top: calc(50% - 265px);
}

#display {
	margin: auto;
}
